* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todolist {
  margin: 20px 40px;
  width: 100%;
  background-color: #fff;
  box-shadow: -1px -1px 15px 2px rgba(192, 181, 181, 1);
}

.todoHeader {
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}

.todoHeader a {
  margin: auto 6%;
}

.todoForm {
  margin: 10px;
}

#form {
  padding: 10px;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
}

#form button {
  outline: none;
  border: none;
  margin: auto 6%;
  cursor: pointer;
}

.atask input {
  margin-right: 15px;
}

.todoForm form input {
  outline: none;
  border: none;
  padding: 10px;
}

.atask {
  border-bottom: 1px solid #000;
  padding: 20px;
  display: flex;
}

.atask i {
  position: absolute;
  right: 11%;
  cursor: pointer;
}

.btn {
  text-align: center;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #000;
  opacity: 0.6;
  cursor: pointer;
}
